<!DOCTYPE html>
<html>
<head>
	<title>Ez English</title>
	 <link rel="shortcut icon" href="icono.ico" />
	<link rel="stylesheet" type="text/css" href="css/Landing.css">
</head>
<body>
	<div class="main">

		<img src="img/haven.jpg" alt="" id="video">
		
		<div class="overlay"></div>
		<div class="navbar">
			<div class="logo">EZ</div>
			<ul>
				<li><a href="#">HOME</a></li>
				<li><a href="#">REGISTRARSE</a></li>
				<li><a href="#">INICIAR SESION</a></li>
				<li><a href="#">ABOUT US</a></li>
				
			</ul>
		</div>
		<div class="heading">
				<h1 class="head">WELCOME TO  <span>EZ ENGLISH</span></h1>
				<h3 class="sub">Aprende como en ningún otro lugar</h3>	
				<div class="btns">
					<a class="btn1" href="#">INICIAR SESION</a>
					<a class="btn2" href="#">REGISTRARSE</a>
				</div>	
		</div>
	</div>	
</body>
</html>