<!DOCTYPE html>
<html>
	<head>
		<title>Cuestionario</title>
		<link rel="stylesheet" href="css/style.css">
	</head>
	<body>
		<div id="container" style="background: #74e746;">

			<header>
					<h1>Exercises (Advanced level)</h1>
					<p>Answer the following questions: </p>
			</header>
			<section>
			<div id="resultado"></div>
				<form name="quizForm" onsubmit="return verificarRespuestas()">

					<h3>1.He was wearing ________ riding boots.</h3>
					<input type="radio" name="p1" value="a">a. red old Spanish leather <br/>
					<input type="radio" name="p1" value="b">b. old leather red Spanish  <br/>
					<input type="radio" name="p1" value="c">c. old red Spanish leather <br/>
					<input type="radio" name="p1" value="d">d. Spanish red old leather <br/>

					<h3>2. ______ he gets, _______.</h3>

					<input type="radio" name="p2" value="a">a. The richer, the more friends he has <br/>
					<input type="radio" name="p2" value="b">b. Richer, more he has friends <br/>
					<input type="radio" name="p2" value="c">c. Richer, more friends he has <br/>
					<input type="radio" name="p2" value="d">d. The richer, the more he has friends<br/>

					<h3>3. Nobody phoned, did _____?</h3>

					<input type="radio" name="p3" value="a">a. he <br/>
					<input type="radio" name="p3" value="b">b. she <br/>
					<input type="radio" name="p3" value="c">c. they <br/>
					<input type="radio" name="p3" value="d">d. anybody<br/>

					<h3>4. We can't use the sports hall yet because it __________ .</h3>

					<input type="radio" name="p4" value="a">a. is still built <br/>
					<input type="radio" name="p4" value="b">b. is still building <br/>
					<input type="radio" name="p4" value="c">c. is still being built <br/>
					<input type="radio" name="p4" value="d">d. is being still built <br/>

					<h3>5. If you were ever in trouble, I would give you all the help you ____</h3>

					<input type="radio" name="p5" value="a">a. will need <br/>
					<input type="radio" name="p5" value="b">b. would need <br/>
					<input type="radio" name="p5" value="c">c. need <br/>
					<input type="radio" name="p5" value="d">d. needed <br/>

					<input type="submit" value="Send">
				</form>
			</section>
		</div>
		<script src="js/script.js"></script>
	</body>
</html>




