<!DOCTYPE html>
<html>
	<head>
		<title>Cuestionario</title>
		<link rel="shortcut icon" href="/icono.ico" />
		<link rel="stylesheet" href="/exercisecss/css/style.css">
	</head>
	<body>
		<div id="container">

			<header>
					<h1>Adverbs of frequency with present simple</h1>
					<p>Responde las siguientes preguntas: </p>
			</header>
			<section>
			<div id="resultado"></div>
				<form name="quizForm" onsubmit="return verificarRespuestas()">

					<h3>1.Which sentence is correct?</h3>
					<input type="radio" name="p1" value="a">a. Our teacher is often late <br/>
					<input type="radio" name="p1" value="b">b. Our teacher often is late <br/>
					<input type="radio" name="p1" value="c">c. Is often our teacher late? <br/>
					<input type="radio" name="p1" value="d">d. Often our teacher is late <br/>

					<h3>2. Which sentence is correct?</h3>

					<input type="radio" name="p2" value="a">a. He usually doesn't go to bed late <br/>
					<input type="radio" name="p2" value="b">b. He doesn't go to bed late usually <br/>
					<input type="radio" name="p2" value="c">c. He doesn't usually go to bed late <br/>
					<input type="radio" name="p2" value="d">d. Does he go usually late to bed?<br/>

					<h3>3. Which sentence is correct?</h3>

					<input type="radio" name="p3" value="a">a. I every week have piano lessons <br/>
					<input type="radio" name="p3" value="b">b. I have every week piano lessons <br/>
					<input type="radio" name="p3" value="c">c. I have piano lessons every week <br/>
					<input type="radio" name="p3" value="d">d. I every week have piano lessons<br/>

					<h3>4. Which sentence is correct?</h3>

					<input type="radio" name="p4" value="a">a. They always are very tired after the match <br/>
					<input type="radio" name="p4" value="b">b. They are always very tired after the match <br/>
					<input type="radio" name="p4" value="c">c. They are very tired after the match always <br/>
					<input type="radio" name="p4" value="d">d. Always they are very tired after the match <br/>

					<h3>5. Which sentence is correct?</h3>

					<input type="radio" name="p5" value="a">a. We always have breakfast at home <br/>
					<input type="radio" name="p5" value="b">b. Always we have breakfast at home <br/>
					<input type="radio" name="p5" value="c">c. We have always breakfast at home <br/>
					<input type="radio" name="p5" value="d">d. We have breakfast at home always <br/>

					<input type="submit" value="Enviar">
				</form>
			</section>
		</div>
		<script src="js/script.js"></script>
	</body>
</html>




